<div class="row">
    <h3>
        <img src="{{ "/assets/img/ico_twitter_sidebar.png" | prepend: site.baseurl }}" alt="fresh tweets"> Derniers
        tweets
    </h3>
    <a class="twitter-timeline"  href="https://twitter.com/vp3n" data-widget-id="643055448199942144">Tweets de @vp3n</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>